
body {
    background-color: #f3e5d3; 
    font-family: Arial, sans-serif;
    color: #1a1a1a; 
    margin: 20px;
}

h1 {
    color: #d4a373; 
    text-align: center;
}

h2 {
    color: #d4a373; 
}


img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}


p {
    line-height: 1.6;
}


ul {
    list-style-type: square;
    padding-left: 20px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #4a4a4a; 
    margin: 20px 0;
}


a {
    color: #000; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #8274c4; 
}
